body {
  background-color: rgb(206, 199, 199);
}

.bg-danger {
  background-color: purple !important;
}
.gogColor {
  color: purple;
}

.circle {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  border: 4px solid;
}
