body {
  background-color: rgb(206, 199, 199);
}

.bg-danger {
  background-color: purple !important;
}
.gogColor {
  color: purple;
}

.circle {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  border: 4px solid;
}

.sustituto {
  background: rgb(28, 10, 187);
  height: 80px;
  width: auto;
}

.pToDown {
  margin-top: 0.5rem !important;
}

.nav-link.active {
  color: purple !important;
  background: transparent !important ;
  border: none;
}

.cardy {
  width: 230px;
  height: 460px;
  background: rgb(31, 29, 29);
}
